{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product info</h1>
    </div>
    <div class="content_container">
        <div>
            <div class="col-xl-11 col-lg-11 fw">
                <div class="card shadow mb-4 wd">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">상품 정보 입력</h5>
                    </div>
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="graph">
                            <div class="p-lg-10">
                                <form class="user mg" action="/user/itemManage" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="p_name"
                                            id="p_name" placeholder="상품 이름">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" name="p_weight"
                                                id="p_weight" placeholder="상품 무게">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" name="p_category"
                                                id="p_category" placeholder="상품 카테고리">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="shelf_loc"
                                            id="shelf_loc" placeholder="선반 위치">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        정보 입력
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xl-6 col-lg-10 fw">

            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">상품 목록</h5>
                </div>
                <div class="card-body list">
                    <div class="table-responsive">
                        <div class="user mg">

                            <table class="table table-bordered table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>제품명</th>
                                        <th>제품 코드</th>
                                        <th>제품 무게</th>
                                        <th>수량</th>
                                        <th>상품 분류</th>
                                        <th>선반 위치</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in product %}
                                    <tr>
                                        <td>{{item.p_name}}</td>
                                        <td>{{item.p_code}}</td>
                                        <td>{{ item.p_weight }}</td>
                                        <td>{{ item.p_cnt }}</td>
                                        <td>{{ item.p_category }}</td>
                                        <td>{{ item.shelf_loc }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}